@model IEnumerable<Laurus.Blog.Service.DataContract.Entry>

@{
    ViewBag.Title = "Details";
}

<h2>entries</h2>
    @foreach (var e in Model)
    {
        <li>
            @e.Title
        </li>
    }
