@model IEnumerable<Laurus.Blog.Models.EntryModel>
@{
    ViewBag.Title = "Index";
}

<h2>entries</h2>
    @foreach(var m in Model)
    {
        <h3>@Html.ActionLink(@m.Title, "Details", new { id = @m.Id })</h3>
        <div>
            @m.Content
        </div>
    }